
<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
  {{ partial "navbar-logo-only.html" . }}
  <div id="content">
    <section class="blog-page" id="home">
      <div class="container">
        <div class="section">
            <div class="mb-5">
              <span class="top-title pre-line">{{ .Title }}</span>
              <div class="ma-content">
              {{ .Content }}
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
  {{ partial "footer-basic.html" . }}
</body>
</html>
