.section{
  padding: 100px 0;
}

.unstyle-list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}

th, td {
  padding-right: 8px;
  padding-left: 8px;
  border-bottom: 30px;
  border: 1px solid black;
}

table {
  padding-bottom:100px;

}


